@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500;600;700&display=swap');
body {
    font-family: 'Wix Madefor Text';
    color: #494949;
    background-color: #e1e9e9;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    
}
h2 {
    text-align: center;
}
section {
    min-width: 350px;
    max-width: 650px;
    flex-grow: 1;
    flex-shrink: 1;
}
.map {
    height: 500px;
    max-width: 100%;
    border: 2px solid #656565;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #656565;
}

    